<div *ngIf="isQrCameraActive || isNFCActive">
  <div class="header-camera-active">
    <ion-header class="ion-no-border">
      <div class="header-container">
        <ion-img
          src="../../assets/icon/LogoRegistrasso white.svg"
          class="logo-header"
        ></ion-img>
        <ion-img
          (click)="logout()"
          src="../../assets/icon/sign-out.svg"
          class="icon-header"
        ></ion-img>
      </div>
    </ion-header>
  </div>
  <div class="header-activity-container ion-padding">
    <ion-img
      src="../../assets/icon/arrow-left-green.svg"
      class="list-icon ion-text-center"
      (click)="unselectActivityEvent()"
    ></ion-img>
    <div class="titles-container">
      <span class="event-title">{{selectedEvent.event}}</span>
      <span class="activity-title">{{selectedActivityEvent.name}}</span>
    </div>
  </div>
  <div
    class="qr-body"
    id="scanner-container"
    *ngIf="isQrCameraActive && !isNFCActive"
  >
    <div
      class="bottom-left-img"
      (click)="changeScanner()"
      *ngIf="selectedActivityEvent.nfc && isNfcAvailable"
    >
      <ion-img src="../../assets/icon/qr.svg"></ion-img>
    </div>
  </div>
  <div
    class="nfc-body"
    id="scanner-container"
    *ngIf="!isQrCameraActive && isNFCActive"
  >
    <ion-img src="../../assets/icon/nfc.svg" class="ion-text-center"></ion-img>

    <!--
    <p>
      {{ nfcMessage }}
    </p>
    -->

    <div
      class="bottom-left-img"
      (click)="changeScanner()"
      *ngIf="selectedActivityEvent.qr"
    >
      <ion-img src="../../assets/icon/qr.svg"></ion-img>
    </div>
  </div>
</div>

<ion-content [fullscreen]="true" id="content">
  <div class="container">
    <ion-header class="ion-no-border">
      <div id="header" class="header-container">
        <ion-img
          src="../../assets/icon/LogoRegistrasso white.svg"
          class="logo-header"
        ></ion-img>
        <ion-img
          (click)="logout()"
          src="../../assets/icon/sign-out.svg"
          class="icon-header"
        ></ion-img>
      </div>
    </ion-header>

    <!-- vista con eventos -->

    <!-- <ion-button *ngIf="isNfcAvailable" (click)="startNfcScan()">NFC</ion-button> -->

    <ion-refresher
      *ngIf="!selectedEvent && !selectedActivityEvent"
      slot="fixed"
      (ionRefresh)="handleRefresh($event)"
    >
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list
      class="list-container"
      *ngIf="events.length && !selectedEvent && !selectedActivityEvent && !isLoadingData && !htmlResponse"
    >
      <ion-item *ngFor="let event of events" (click)="selectEvent(event.event)">
        <div class="item-container">
          <span class="list-item"> {{event.event}} </span>
          <ion-img
            class="list-icon"
            src="../../assets/icon/arrow-right.svg"
          ></ion-img>
        </div>
      </ion-item>
    </ion-list>

    <!-- vista sin eventos -->

    <ion-list
      class="list-container"
      *ngIf="!events.length && !selectedEvent && !selectedActivityEvent && !isLoadingData && !htmlResponse"
    >
      <ion-item>
        <span class="list-item-flex"> No hay eventos activos </span>
      </ion-item>
    </ion-list>

    <ion-img
      *ngIf="!events.length && !selectedEvent && !selectedActivityEvent && !isLoadingData && !htmlResponse"
      src="../../assets/icon/IsoRegistrasso.svg"
      class="footer-logo"
    ></ion-img>

    <div
      *ngIf="!selectedEvent && !selectedActivityEvent && !isLoadingData && isContacts && !htmlResponse"
      class="footer-container ion-no-border"
    >
      <ion-grid class="footer__contacts">
        <ion-row>
          <ion-col size="6" class="footer__btn-container">
            <ion-button
              expand="full"
              class="footer__btn"
              (click)="openContactsView()"
              >Contactos</ion-button
            >
          </ion-col>
          <ion-col size="6" class="footer__btn-container">
            <ion-button
              expand="full"
              class="footer__btn"
              (click)="openProductsView()"
              >Productos</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <!-- vista de actividades -->

    <div *ngIf="selectedEvent && !selectedActivityEvent && !cardUrl">
      <div class="header-event-container ion-padding">
        <ion-img
          src="../../assets/icon/arrow-left.svg"
          class="list-icon ion-text-center"
          (click)="unselectEvent()"
        ></ion-img>
        <span>{{selectedEvent.event}}</span>
      </div>
      <ion-grid class="list-activities-container ion-no-padding">
        <ion-row
          *ngFor="let activity of selectedEvent.activities"
          (click)="selectActivityEvent(activity)"
          class="ion-justify-content-end"
        >
          <ion-col class="item-activity" size="11">
            <span class="list-item"> {{activity.name}} </span>
            <ion-img
              class="list-icon"
              src="../../assets/icon/arrow-right-green.svg"
            ></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <!-- vista de contenido de actividad -->

    <div
      *ngIf="selectedEvent && selectedActivityEvent && !isQrCameraActive && !isNFCActive && htmlResponse"
      class="browser-container"
    >
      <ion-card class="browser-card">
        <iframe
          class="browser-content"
          [src]="cardUrl"
          frameborder="0"
        ></iframe>
      </ion-card>
    </div>
    <div
      *ngIf="selectedEvent && selectedActivityEvent && !isQrCameraActive && htmlResponse"
      class="ion-no-border browser-footer"
    >
      <div class="browser-footer-container">
        <ion-grid [fixed]="true">
          <ion-row class="ion-justify-content-center">
            <ion-col size="2" class="ion-padding-horizontal">
              <div class="back-btn" (click)="backToActivities()">
                <ion-img
                  class="back-btn-img"
                  src="../../assets/icon/arrow-left.svg"
                >
                </ion-img>
              </div>
            </ion-col>
            <ion-col
              size="6"
              class="ion-padding-horizontal"
              *ngIf="htmlResponse?.request?.btn && !actionRequested"
            >
              <div
                class="action-btn"
                [style.background]="htmlResponse?.request?.color"
                (click)="handlerAction()"
              >
                <p *ngIf="!actionRequested">{{htmlResponse?.request?.btn}}</p>
              </div>
            </ion-col>
            <ion-col
              size="9"
              class="ion-padding-horizontal"
              *ngIf="actionRequested"
            >
              <div class="action-requested">
                <p>{{actionRequested}}</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <!-- vista de contenido de Productos o Contactos -->

    <div
      *ngIf="isContactsView && htmlResponse || isProductsView && htmlResponse"
      class="browser-container"
    >
      <ion-card class="browser-card">
        <iframe
          class="browser-content"
          [src]="cardUrl"
          frameborder="0"
        ></iframe>
      </ion-card>
    </div>
    <div
      *ngIf="isContactsView && htmlResponse || isProductsView && htmlResponse"
      class="ion-no-border browser-footer"
    >
      <ion-grid class="footer__contacts">
        <ion-row>
          <ion-col size="6" class="footer__btn-container">
            <div class="back-btn-contacts" (click)="closeView()">
              <ion-img
                class="back-btn-img"
                src="../../assets/icon/arrow-left-green.svg"
              >
              </ion-img>
            </div>
          </ion-col>
          <ion-col size="6" class="footer__btn-container">
            <div
              class="back-btn-contacts"
              (click)="openProductsView()"
              *ngIf="isContactsView"
            >
              <p class="green-text">PRODUCTOS</p>
            </div>
            <div
              class="back-btn-contacts"
              (click)="openContactsView()"
              *ngIf="isProductsView"
            >
              <p class="green-text">CONTACTOS</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
